*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    background-color: #3D67FF;
    border-bottom: #2152FF;
    border-bottom-width: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 121px;
}

.item-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.titulo-cabecalho{
    display: flex;
}

.titulo{
    text-align: center;
    color: white;
}

.lista-botoes-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.item-botoes-cabecalho{
    list-style-type: none;
    border: none;
    background-color: #3D67FF;
    height: 48px;
    width: 123px;
}

.arcora-botoes-cabecalho{
    text-decoration: none;
    color: white;
}